body {
    font-family: 'Arial', sans-serif;
    color: #333;
    transition: background-color 0.3s ease;
    background: rgb(0,207,255);
    background: linear-gradient(21deg, rgba(0,207,255,0.05) 0%, rgba(0,112,255,0.05) 100%); 
}

body.dark-theme {
    background-color: #333;
    color: #fff;
}

body.dark-theme .media-container {
    border-color: #555;
}

body.dark-theme .caption {
    background-color: #444;
    color: #ddd;
}

.footerbutton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}

body.dark-theme .footerbutton {
    background-color: #444444; 
    color: white;
    border-color: #555555;
}

body:not(.dark-theme) .footerbutton {
    background-color: #f0f0f0; 
    color: #000000;
    border-color: #dddddd;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    transition: background-color 0.3s ease;
    background: rgb(51,51,51);
    background: linear-gradient(0deg, rgba(51,51,51,0.5) 0%, rgba(0,112,255,0) 100%); 
}

footer.dark-theme {
    background-color: #282828;
}

#themeToggle, #openArchive, #uploadFiles {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    cursor: pointer;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#lightbox.hidden {
    visibility: hidden;
    opacity: 0;
}

#lightbox:not(.hidden) {
    visibility: visible;
    opacity: 1;
}

#lightbox-content {
    position: relative;
    width: 60%;
    height: 60%;
    max-width: 800px; 
    max-height: 600px; 
    overflow: hidden;
    text-align: center;
}

#lightbox-content img,
#lightbox-content video {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

#lightbox-caption {
    position: absolute; 
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
}

#close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.caption {
    width: 100%;
    text-align: center;
    padding: 8px;
    background-color: #dddddd;
    color: #000000;
    position: absolute;
    bottom: 0;
}

.media-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: 3px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: 300px;
    height: 200px;
    background: rgb(51,51,51);
    background: linear-gradient(162deg, rgba(51,51,51,0.5) 0%, rgba(56,60,64,0.5) 35%, rgba(77,82,84,0.502007492450105) 100%); 
    margin-bottom: 20px;
}

.media-container img,
.media-container video,
.media-container audio {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}
